.project-list-item {
  display: flex;
  flex-direction: column;
  height: 120px;
  background: #f3f3f3;
  border: 2px solid #e8e8e8;
  padding: 1rem;
}

.project-list-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-list-item header h3 {
  margin: 0;
  color: #00a19a;
  padding-bottom: .4rem;
  font-size: 1.1rem;
}

.project-list-item .title-wrapper {
  border-bottom: 2px solid #00a19a;
  width: 100%;
  margin-right: .9rem;
}

.project-list-item p {
  font-size: .9rem;
  font-weight: 300;
}

.project-list-item button {
  background: #367decfa;
  border: 1px solid #367decfa;
  color: white;
  padding: .3rem .8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: all 250ms ease;
  cursor: pointer;
  width: 160px;
}

.view-metrics-btn img {
  width: 12px;
  margin-right: .3rem;
}

.project-list-item button:hover {
  background: #295cadfa;
  border-color: #367decfa;
}

@media only screen and (max-width: 600px) {
  project-list-item {
    width: 100%;
  }
}